.nav{
    
}
.mainImg{
    background-image: url("desert780x477.jpg");
    height: 477px;
    width: 780px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.orange-border {
    border-bottom: 2px solid orangered;
    margin-bottom: 50px;
}

.container{
    display: flex;
    font-family: arial;
    color: white;
    font-size: 18px;

/* border-bottom-color:orange; */
/* border-style:3px solid;  */
}

.box{
    display: flex;
    flex-direction: column
}

.image2{
    background-image: url("stream420x240.jpg");
    height: 240px;
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image3{
    background-image: url("relax420x237.jpg");
    height: 237px;
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.image2, .image3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.image2, .image3{
    display: flex;
    font-family: arial;
    color: white;
    font-size: 13px;
    margin-left: 5px
}

/*.p{
font-family: 'Muli', sans-serif;
}*/


